CHATGPT_BASE_URL=https://new.xeryx.top,https://new.aliyy.cc,https://new.oaifree.com
HISTORY_DISABLED=true
ARK0SE_TOKEN_URL=https://ark0se.example.com/token
POW_DIFFICULTY=000032
RETRY_TIMES=3
ENABLE_GATEWAY=true
CONVERSATION_ONLY=false
ENABLE_LIMIT=true
UPLOAD_BY_URL=true
SCHEDULED_REFRESH=false
USER_AGENTS=["ua1", "ua2"]
